@media screen and (min-width: 128px) {
    input, textarea {
        border-color: black !important;
    }

    button {
        min-width: 200px !important;
        margin: auto !important;
    }
}

@media screen and (max-width: 240px) {
    body {
        display: none;
        padding-right: 8px;
    }
}

@media screen and (min-width: 157px) {
    button {
        min-width: 100px !important;
    }
}

@media screen and (min-width: 400px) {
    button {
        min-width: 200px !important;
    }
}