@media screen and (max-width: 240px) {
    body {
        display: none;
    }
}

@media screen and (min-width: 128px) {
    input, textarea {
        border-color: black !important;
    }

    button {
        min-width: 200px !important;
        margin: auto !important;
    }
}

@media screen and (min-width: 135px) {
    
}

@media screen and (min-width: 150px) {
}

@media screen and (min-width: 151px) {
}

@media screen and (min-width: 157px) {
    button {
        min-width: 100px !important;
    }
}

@media screen and (min-width: 200px) {
}

@media screen and (min-width: 226px) {
}

@media screen and (min-width: 279px) {
}

@media screen and (min-width: 300px) {
}

@media screen and (min-width: 400px) {
    button {
        min-width: 200px !important;
    }
}

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 800px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 991px) {
}

@media screen and (min-width: 1000px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 2000px) {
}
