body[data-theme="Night-Theme"] > main > div > div > div > div > div > div > div > ul > li > button {
    color: rgba(182,255,182,.9);
}

body[data-theme="Night-Theme"] > header > nav {
    background-color: rgba(33, 37,41,1) !important;
}

body[data-theme="Night-Theme"] {
    background-color: black;
    color: rgba(182, 255, 182, .9);
}

body[data-theme="Night-Theme"] > header > nav > div > div > div > div > div > div > div > a {
    color: rgba(182, 255, 182, .9);
}

body[data-theme="Night-Theme"] > header > nav > div > div > div > div > div > div > div > a.nav-link:hover {
    background-color: rgba(182, 255, 182, .9);
}

body[data-theme="Night-Theme"] > header > nav > div > div > button {
    background-color: rgba(182, 255, 182, .9);
    position: relative;
}

body[data-theme="Night-Theme"] > header > nav > div > div > img:hover {
    border-color: rgba(182, 255, 182, .9);
    border-style: solid;
    border-radius: 2rem;
}

body[data-theme="Night-Theme"] > #Profile_View > div > div > div > div > div > div > div > div > div.list-group-item,
body[data-theme="Night-Theme"] > main > div > div > div > div > div > div > div > div > div > div > div > div,
body[data-theme="Night-Theme"] > main > div > div > div > div > div > div > div > ul > li > span {
    background-color: transparent !important;
    color: #b6ffb6 !important;
    border: none !important;
}
